main {
    background: #fffffe;
    color: #fc483c;
}

.icons-social a {
    color: #fc483c;
}

.becode:hover {
    color: #347afd !important;
}

a:visited {
    color: #fc483c;
}

a {
    color: #fc483c;
}

.secondLine {
    color: #347afd;
}

.escapeCara {
    color: #347afd;
    font-family: "Reem Kufi", sans-serif;
}

.at {
    font-family: "Reem Kufi", sans-serif;
    display: inline-block;
}

i:hover {
    color: #347afd !important;
}

.lf {
    color: #347afd;
}
