html {
    font-family: "Roboto", sans-serif;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.icons-social i {
    font-size: 3em;
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0;
    text-align: center;
}

main > .intro {
    position: relative;
    font-family: "Reem Kufi", sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main > .tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
    position: relative;
}

#container {
    left: 0px;
    top: -100px;
    height: calc(100vh + 100px);
    overflow: hidden;
    position: relative;
}

#all {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
    animation: opa 10s 1;
}

@keyframes opa {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#animate {
    margin: 0 auto;
    width: 20px;
    overflow: visible;
    position: relative;
}

.icons-social i {
    padding: 10px;
}

.icons-social a {
    text-decoration: none;
}

.devto {
    margin-bottom: -0.2rem;
}

.devto svg {
    margin-bottom: -0.2rem;
    margin-left: 0.675rem;
    width: 2.65rem;
    height: 2.65rem;
}

.secondLine {
    font-size: 2.18rem;
    display: block;
    margin-top: -10px;
    position: relative;
}

a {
    text-decoration: none;
}

i {
    position: relative;
}

.emoji {
    display: inline-block;
    animation: tilt-shaking 4s infinite;
    animation-delay: 2s;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    2% {
        transform: rotate(1deg);
    }
    4% {
        transform: rotate(2deg);
    }
    6% {
        transform: rotate(3deg);
    }
    8% {
        transform: rotate(2deg);
    }
    10% {
        transform: rotate(1deg);
    }
    12% {
        transform: rotate(0deg);
    }
    14% {
        transform: rotate(-1deg);
    }
    16% {
        transform: rotate(-2deg);
    }
    18% {
        transform: rotate(-3deg);
    }
    20% {
        transform: rotate(-2deg);
    }
    22% {
        transform: rotate(-1deg);
    }
    24% {
        transform: rotate(0deg);
    }
    26% {
        transform: rotate(1deg);
    }
    28% {
        transform: rotate(2deg);
    }
    30% {
        transform: rotate(3deg);
    }
    32% {
        transform: rotate(2deg);
    }
    34% {
        transform: rotate(1deg);
    }
    36% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(-1deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    42% {
        transform: rotate(-3deg);
    }
    44% {
        transform: rotate(-2deg);
    }
    46% {
        transform: rotate(-1deg);
    }
    48% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
    52% {
        transform: rotate(2deg);
    }
    54% {
        transform: rotate(3deg);
    }
    56% {
        transform: rotate(2deg);
    }
    58% {
        transform: rotate(1deg);
    }
    60% {
        transform: rotate(0deg);
    }
    62% {
        transform: rotate(-1deg);
    }
    64% {
        transform: rotate(-2deg);
    }
    66% {
        transform: rotate(-3deg);
    }
    68% {
        transform: rotate(-2deg);
    }
    70% {
        transform: rotate(-1deg);
    }
    72% {
        transform: rotate(0deg);
    }
    74% {
        transform: rotate(0deg);
    }
    76%,
    100% {
        transform: rotate(0deg);
    }
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    position: relative;
    justify-self: center;
    align-self: center;
}

label {
    cursor: pointer;
    text-indent: -225.25px;
    width: 50px;
    height: 25px;
    background: #6246ea;
    border-radius: 25px;
    position: relative;
    align-self: center;
    margin-top: 25px;
}

label:after {
    content: "";
    position: absolute;
    top: 1.25px;
    left: 1.25px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 22.5px;
    transition: 0.3s;
}

input:checked + label {
    background: #b8c1ec;
}

input:checked + label:after {
    left: calc(100% - 1.25px);
    transform: translateX(-100%);
}

label:active:after {
    width: 65px;
}
