html {
    font-family: "Roboto", sans-serif;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.icons-social i {
    font-size: 3em;
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0;
    text-align: center;
}

main > .intro {
    position: relative;
    font-family: "Reem Kufi", sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main > .tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
    position: relative;
}

#container {
    left: 0px;
    top: -100px;
    height: calc(100vh + 100px);
    overflow: hidden;
    position: relative;
}

#all {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
    animation: opa 10s 1;
}

@keyframes opa {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#animate {
    margin: 0 auto;
    width: 20px;
    overflow: visible;
    position: relative;
}

.icons-social i {
    padding: 10px;
}

.icons-social a {
    text-decoration: none;
}

.devto {
    margin-bottom: -0.2rem;
}

.devto svg {
    margin-bottom: -0.2rem;
    margin-left: 0.675rem;
    width: 2.65rem;
    height: 2.65rem;
}

.secondLine {
    font-size: 2.18rem;
    display: block;
    margin-top: -10px;
    position: relative;
}

a {
    text-decoration: none;
}

i {
    position: relative;
}

.emoji {
    display: inline-block;
    animation: tilt-shaking 8s infinite;
    animation-delay: 2s;
}

@keyframes tilt-shaking {
    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(0deg);
    }
    1%,
    21%,
    41%,
    61%,
    81% {
        transform: rotate(1deg);
    }
    2%,
    22%,
    42%,
    62%,
    82% {
        transform: rotate(2deg);
    }
    3%,
    23%,
    43%,
    63%,
    83% {
        transform: rotate(3deg);
    }
    4%,
    24%,
    44%,
    64%,
    84% {
        transform: rotate(4deg);
    }
    5%,
    25%,
    45%,
    65%,
    85% {
        transform: rotate(5deg);
    }
    6%,
    26%,
    46%,
    66%,
    86% {
        transform: rotate(4deg);
    }
    7%,
    27%,
    47%,
    67%,
    87% {
        transform: rotate(3deg);
    }
    8%,
    28%,
    48%,
    68%,
    88% {
        transform: rotate(2deg);
    }
    9%,
    29%,
    49%,
    69%,
    89% {
        transform: rotate(1deg);
    }
    11%,
    31%,
    51%,
    71%,
    91% {
        transform: rotate(-1deg);
    }
    12%,
    32%,
    52%,
    72%,
    92% {
        transform: rotate(-2deg);
    }
    13%,
    33%,
    53%,
    73%,
    93% {
        transform: rotate(-3deg);
    }
    14%,
    34%,
    54%,
    74%,
    94% {
        transform: rotate(-4deg);
    }
    15%,
    35%,
    55%,
    75%,
    95% {
        transform: rotate(-5deg);
    }
    16%,
    36%,
    56%,
    76%,
    96% {
        transform: rotate(-4deg);
    }
    17%,
    37%,
    57%,
    77%,
    97% {
        transform: rotate(-3deg);
    }
    18%,
    38%,
    58%,
    78%,
    98% {
        transform: rotate(-2deg);
    }
    19%,
    39%,
    59%,
    79%,
    99% {
        transform: rotate(-1deg);
    }
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    position: relative;
    justify-self: center;
    align-self: center;
}

label {
    cursor: pointer;
    text-indent: -225.25px;
    width: 50px;
    height: 25px;
    background: #6246ea;
    border-radius: 25px;
    position: relative;
    align-self: center;
    margin-top: 25px;
}

label:after {
    content: "";
    position: absolute;
    top: 1.25px;
    left: 1.25px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 22.5px;
    transition: 0.3s;
}

input:checked + label {
    background: #b8c1ec;
}

input:checked + label:after {
    left: calc(100% - 1.25px);
    transform: translateX(-100%);
}

label:active:after {
    width: 65px;
}
